body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #E4BAD4;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #E4BAD4;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-container {
    background-color: #CAF7E3;
    position: relative;
    padding-top: 100px;
}

p{
    line-height: 2;
}

.middle-container {

}

.bottom-container {

}

.skill-row {
    width: 50%
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.parkour{
    width: 25%;ß
    float: left;
    margin-right: 30px;
}

.telepathy{
    width: 25%;
    float: right;
    margin-left: 30px;

}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}
